@tailwind base;
@tailwind components;
@tailwind utilities;
.hero_bg{
    background-image: url("../public/bg-image-1.jpg");
    height: 100vh; 
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
}
